* {
    margin: 0;
    padding: 0;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    color: blue;
    font-size: small;
}

.links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.mobile a {
    color: black;
    margin: 15px;
    text-decoration: none;

}

.b1 {
    background-color: blue;
    border: none;
    /* border-radius: 300px; */
    color: white;
    width: 5vw;
    height: 3vh;


}

.header1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    padding-top: 30px;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.header2 button {
    border: none;
    color: white;
    background-color: blue;
    width: 12vw;
    height: 4vh;
}

.header3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0 35px 0;

}

.sec1 {

    background-color: rgb(207, 207, 227);
    padding: 50px;

}

.sec1-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.sec1-title p {
    width: 30vw;
    padding-top: 10px;
}

.parnte1 {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 40px;

}

.icn p {
    text-align: center;

}

.icn {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20%;
}

.icn i {
    background-color: rgb(198, 198, 240);
    border-radius: 20px;
    padding: 10px 10px 10px 10px;

}

.parnte2 {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 40px;

}

.div1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 30vw;

}

.sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
}

.pare {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 40px;
}

.pare2 {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 80px;

}

.parentsec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(75, 0, 128);
    color: white;
    /* width: 100vw; */
    height: 50vh;
    margin-top: 80px;
}

.B {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 30px;
}

.A {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.C {
    border-bottom: 1px solid white;
}

.B h1 {
    font-size: 70px;
}

.B h6 {
    font-weight: normal;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.tch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.img {
    padding: 50px;
}

.tch i {
    padding: 5px;
}

.tch p {
    color: gray;
    font-weight: normal;
}

.fotre {
    background-color: rgb(251, 249, 249);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.w {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.w h6 {
    color: grey;
}

.w h1 {
    font-size: 19px;
    text-align: center;
}

.x {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

input {
    width: 100%;
    height: 30px;
}

button {
    background-color: rgb(75, 0, 128);
    width: 100%;
    height: 30px;
    border: none;
}

.x p {
    color: grey;
    display: flex;
    justify-content: center;
    text-align: center;
}

.q {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 450px;
    color: grey;
}

.q h3 {
    color: blueviolet;
}

.check {
    display: none;
}
.links .fa-xmark , .logo .fa-bars{
    display: none;
}








@media (max-width: 415px) {
    .logo {
        position: relative;

    }
    .img {
        display: none;
    }


    .mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 40vh;
        width: 80vw;
        justify-content: space-between;
        top: 10vh;
        left: -400%;
        transition: 0, 5s ease;
        background-color: beige;
        width: 200%;
    }

    .mobile a {
        font-size: x-large;
        color: blueviolet;
    }

    .links {
        display: block;
        width: fit-content;
        border: 0;
        background-color: transparent;
        /* font-weight: bold; */
        /* padding: 0;
         */
        /* font-size: xx-large;
         width: 150%; */
    }

    .links {
        display: block;
    }


    #respo:checked+.mobile {
        left: 0;
    }

    .b1 {
        background-color: blue;
        color: white;
        border: none;
        border-radius: 100px;
        width: 15vw;
    }

    .links button {
        display: block;
    }

    .logo .fa-bars {
        display: block;
    }

    .header1 {
        width: 30%;
        padding-left: 40vw;
    }

    .header2 {
        display: flex;
        align-items: center;
        padding-left: 20px;
        gap: 10vw;
    }

    .header2 button {
        width: 30vw;
    }

    .header3 {
        display: flex;
        flex-direction: column;

    }

    .pare2 {
        width: 5vw;
    }

    .pare2 p {
        color: grey;
        width: 30vw;
    }

    .pare {
        width: 5vw;

    }

    .pare p {
        color: grey;
        width: 30vw;
    }

    .div1 {
        display: flex;
        align-items: center;
        /* background-color: black; */
        padding-left: 80vw;
        font-size: 5vw;
        width: 60vw;
        color: gray;
    }

    .sec1 {
        display: flex;
        flex-direction: column;
        /* background-color: black; */
        padding-left: 30vw;
        width: 160%;

    }
    .links .fa-xmark , .logo .fa-bars{
        display: block;
    }



}