*{
    margin: 0;
    padding: 0;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.logo{
    color: blue;
    font-size: small;
}
.links {
    display: flex;
    align-items: center;
    gap: 15px;
}
.mobile a{ 
    color: black;
    margin: 15px;
    text-decoration: none;

}
.b1{
background-color: blue;
border: none;
border-radius: 300px;
color: white;


}
.header1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    padding-top: 30px;
}
.header2{
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    gap: 20px;

}
.header2 button{
    border: none;
    border-radius: 30px;
    color: white;
    background-color: blue;
}
.header3{
    display: flex;
    align-items: center;
    
}
.sec1{
    
    background-color: rgb(207, 207, 227);
    padding: 50px;
    
}
.sec1-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.parnte1{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 40px;

}
.icn p{
    text-align: center;

}
.icn{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 20%;
}
.parnte2{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 40px;

}
.div1{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:15px ;

}
.sec2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
}
 
.pare{
    display: flex;
    align-items: center;
    gap: 50px;
}
.pare2{
    display: flex;
    align-items: center;
    gap: 50px;

}
.parentsec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(75, 0, 128);
    color: white;
    /* width: 100vw; */
    height: 50vh; 
    }
    
    .B{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 30px;
    }
    .A{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    
    }
    .C{
        border-bottom:1px solid white ;
    }
    .B h1{
    font-size: 70px;
    }
    .B h6{
    font-weight: normal;
    }
    .parent{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
    .tch{
        display: flex;
        justify-content: center; 
         align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .sora{
        padding: 50px;
    }
    .tch i{
    padding: 5px;
    }
    .tch p{
    color: gray;
    font-weight: normal;
    } 
    
    .fotre{
        background-color: rgb(251, 249, 249);
     
           padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .w{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    

    }
     .w h6{
color: grey;
    }
    .w h1{
font-size: 19px;
text-align: center;
    }
    .x{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
    }
    input{
        width: 100%;
        height: 30px;
    }
    button{
        background-color: rgb(75, 0, 128);
        width: 100%;
        height: 30px;
        border: none;
    }
    .x p{
color: grey;
display: flex;
justify-content: center;
text-align: center;
    }
    .q{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 450px;
        color: grey;
    }
    .q h3{
color: blueviolet;
    }
    
    @media (max-width: 425px){
     .B{

            flex-direction: column;
            font-size: 10px;
            width: 80vw;
            gap: 1px;
            padding: 0px; 
            
        }
        .B h1{
font-size: 40px;
        }

        .tch{
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            

        }
        .fotre{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
        }
        .q{
            display: none;
        }
        .parent{
            display: flex;
            align-items: center;
            justify-content: center;
            
    
            
         
            
        }
        .parentsec{
            
        }
        .sora{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10px;
        
            
        }
    
        
         }
    
    
    











































